/* Stili di base */
body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

.dashboard {
    padding: 30px;
}

.section {
    margin-bottom: 30px;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.wallet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wallet button {
    background-color: #ff4081;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.wallet button:hover {
    background-color: #e7376a;
}

.wallet-info p {
    color: #ccc;
    font-size: 1rem;
}

.action-btn {
    background-color
